@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Lato');

* {
    font-family: 'Lato', sans-serif;
    text-align: center;

}

html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    color: #FFF;
    background-image: url("../imgs/back1.jpg");
}


.text-on-top {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 2px 2px 2px #000000;
    color: #FFF;
    position: relative;
    z-index: 999 !important;
}

#bg {

    filter: blur(4px) grayscale(50%);
    position: fixed;
    width: 102%;
    height: 102%;
    top: -1%;
    left: -1%;
    z-index: -1;
    background-size: cover;
}


.logo {
    width: 300px;
}

.loadbar {
  width: 60%;
  background-color: var(--loadbar-color);
  height: var(--loadbar-height);
  box-shadow: inset 0px 0px 22px -1px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: block;
}

.yeet {
  width: 10%;
  background-color: var(--loadbar-progress-color);
  height: var(--loadbar-height);
  position: absolute;
  left: 10%;
  box-shadow: inset 0px 0px 22px -1px rgba(0, 0, 0, 0.75);
  z-index: 100 !important;
}

#container {
    text-shadow: 2px 2px 5px #424242;
    position: absolute;
    color: rgb(241, 235, 235);
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    text-align: center;
}

#link {
    color: var(--footer-font-color);
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: var(--footer-font-size);
    width: 100%;
    text-align: center;
    padding-bottom: 29px;
    text-shadow: 2px 2px 2px #000000;
}

#bottom_nav {
    width: 90%;
    vertical-align: text-bottom;
    position: fixed;
    bottom: 0px;
    text-align: center;
    z-index: 9999;
}

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.no-gutter>[class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.audioCenter {
    margin: auto auto;
    width: 90%;
    margin-top: 30px;
    color: #FFF;
}

.card-header {
    background-color: #ff0000;
    font-weight: bold;
    font-size: 1.2vw;
}

.card {
    border: 0;
    background-color: rgba(35, 35, 35, 0.0);

}

.card-body {
    background-color: rgba(35, 35, 35, 0.80);
    font-weight: bold !important;
    font-size: 0.9vw;
}

.table {
    color: #FFF;
    font-size: 0.8vw;
}


  .card-padding{
      padding-left:0 !important;
      padding-right:0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
  }

  .magis {
      padding-top: 28.05vh;
  }
  .magis2 {
    padding-top: 28.05vh;
}